* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --gray-900: #111928;
  --gray-800: #1f2a37;
  --gray-600: #4b5563;
  --gray-500: #6b7280;
  --gray-400: #9ca3af;
  --gray-300: #d1d5db;
  --gray-200: #e5e7eb;
  --gray-100: #f3f4f6;
  --gray-50: #f9fafb;
  --white: #fff;
  --black: #000;
  --green: hsla(134, 39, 37, 0.3);
  --bg: #fdfeff;
  --red: rgb(238, 46, 46);
}

.wrapper {
  margin-top: 2.5rem;
}

.grid-img {
  border-radius: 0.5rem;
  box-shadow: 0.0625rem 0.0625rem 0.625rem 0.0625rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  width: 100%;
}

.grid-img:hover {
  box-shadow: 0.0625rem 0.0625rem 0.625rem 0.0625rem rgba(0, 0, 0, 0.4);
}

.two-items {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.product {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--gray-900);
  cursor: pointer;
}

.product:hover {
  color: var(--gray-400);
}

.number {
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--gray-400);
}

.price {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--gray-600);
  margin-top: 1rem;
  cursor: pointer;
}

.price:hover {
  color: var(--gray-600);
}

.grid-container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin: 5rem 0;
}

/* cart */

.cart-section {
  display: grid;
  grid-template-columns: 60% 40%;
  width: 100%;
  gap: 5rem;
}

#cart-img {
  border-radius: 0.5rem;
  box-shadow: 0.0625rem 0.0625rem 0.625rem 0.0625rem rgba(0, 0, 0, 0.2);
  width: 100%;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
}

.product-name {
  font-size: 2.25rem;
  color: var(--gray-900);
  font-weight: 500;
}

.product-number {
  font-size: 0.75rem;
  color: var(--gray-600);
}

.product-price {
  font-size: 2.375rem;
  font-weight: 700;
  color: var(--gray-700);
  margin: 1.5rem 0;
}

#carret-down {
  border: 0.0625rem solid var(--gray-900);
  padding: 1rem;
  border-radius: 0.125rem 0 0 0.125rem;
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
}

#carret-up {
  border: 0.0625rem solid var(--gray-900);
  padding: 1rem;
  border-radius: 0 0.125rem 0.125rem 0;
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
}

#carret-down:hover,
#carret-up:hover {
  background-color: var(--gray-100);
}

.qty {
  font-size: 1.5rem;
  color: var(--gray-900);
  border-top: 0.0625rem solid var(--gray-900);
  border-bottom: 0.0625rem solid var(--gray-900);
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter {
  display: flex;
  margin-bottom: 1.5rem;
  cursor: pointer;
}

.counter-btn {
  display: flex;
  flex-direction: column;
  padding: 3.5rem 0;
  border-top: 0.0625rem solid var(--gray-800);
  border-bottom: 0.0625rem solid var(--gray-800);
}

.desc-items {
  color: var(--gray-900);
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.description {
  display: flex;
  gap: 1.5rem;
  margin: 1rem 0;
}

/* total calc */

.small-img {
  width: 7.375rem;
  height: 7.375rem;
  border-radius: 0.125rem;
  margin-right: 1.5rem;
}

.line-name {
  font-size: 2rem;
  color: var(--gray-900);
}

.line-number {
  font-size: 1rem;
  color: var(--gray-500);
}

.name-number {
  display: flex;
  flex-direction: column;
  width: 10.9375rem;
}

.line-price {
  font-size: 2.25rem;
  font-weight: 600;
  color: var(--gray-800);
  margin-left: 2rem;
}

.item-qty {
  font-size: 1.5rem;
  font-weight: 500;
  margin-right: 0.25rem;
}

#trash {
  background-color: var(--gray-900);
  padding: 1.25rem;
  border-radius: 100%;
  width: 4.5rem;
  height: 4.5rem;
  cursor: pointer;
}

#trash:hover {
  background-color: var(--red);
}

.left-items {
  display: flex;
  align-items: center;
}

#cart-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 0.0625rem solid var(--gray-300);
  padding: 1.5rem 1rem;
}

.amount-title {
  font-size: 1.5rem;
  color: var(--gray-800);
  font-weight: 500;
  letter-spacing: 0.1rem;
}

#shipping-amount {
  font-size: 1.5rem;
  color: var(--gray-600);
}

#total-amount {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--gray-900);
}

.amount-line {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-between;
}

.total {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: end;
  margin: 1.5rem 0;
  padding-bottom: 1.5rem;
  border-bottom: 0.0938rem solid var(--gray-400);
}

.cart {
  background-color: var(--gray-50);
  border-radius: 0.5rem;
  padding: 1.5rem;
  box-shadow: 0rem 0.0625rem 0.1875rem 0rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin: 8.75rem 0;
}

#check-out {
  width: 100%;
}

.shopping {
  color: var(--gray-600);
}
.shopping:hover {
  color: var(--gray-800);
  text-decoration: underline;
}

.continue {
  display: flex;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 3.75rem;
}

/* order summary */

#order-summary {
  margin: 2.5rem 0;
}

.shipping-address {
  font-size: 2rem;
  font-weight: 600;
  color: var(--gray-600);
  margin-bottom: 2.5rem;
}

#shipping-form {
  display: flex;
  flex-direction: column;

  padding: 1.5rem 0;
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
}

.payment-form {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
  width: 100%;
  max-width: 50rem;
}

.payment-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

#shipping-form small {
  margin-top: -0.625rem;
}

#shipping-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.two-columns {
  display: flex;
  gap: 1rem;
}

.shipping-input {
  display: flex;
  border: 0.0625rem solid var(--gray-600);
  border-radius: 0.25rem;
  height: 3.5rem;
  width: 100%;
  font-family: "Jost", sans-serif;
  font-size: 1.25rem;
  padding-left: 1.5rem;
  background-color: var(--white);
  margin: 0.625rem 0 1.5rem 0;
}

#proceed {
  width: 100%;
  margin-top: 2rem;
}

/* payment method */

.payment-method {
  margin: 5rem 0 1.5rem 0;
}

.secure {
  font-size: 1rem;
  font-weight: 300;
  color: var(--gray-600);
  margin-bottom: 3.5rem;
}

.radio {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 1.5rem;
  cursor: pointer;
  accent-color: var(--gray-600);
}

.radio-btn {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 100%;
  outline: 0.0875rem solid var(--gray-500);
  outline-offset: 0.25rem;
  cursor: pointer;
}

.radio-checked {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 100%;
  outline: 0.0875rem solid var(--gray-500);
  outline-offset: 0.25rem;
  cursor: pointer;
  background-color: var(--gray-500);
}

.payment-title {
  font-size: 1.5rem;
  color: var(--gray-800);
  font-weight: 500;
}

.credit-cards {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-left: 5rem;
}

.radio-title {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
  background-color: #fff;
}

#card-number,
#card-name {
  max-width: 34.75rem;
}

.card-column {
  display: flex;
  gap: 0.5rem;
}

#expiration,
#cvv {
  width: 100%;
}

#confirm {
  max-width: 100%;
  margin: 3.5rem 0 6.25rem 0;
}

/* thank you modal */

.thanks {
  font-family: "Lexend Zetta", sans-serif;
  font-size: 2rem;
  color: var(--gray-800);
  font-weight: 600;
  margin: -7.5rem 0 2.5rem 0;
}

#thanks-img {
  width: 100%;
  margin: 2.5rem 0;
}

.message {
  font-size: 1rem;
  color: var(--gray-800);
}

.confirmation {
  max-width: 41.5rem;
  border-radius: 0.625rem;
  padding-bottom: 2.5rem;
  text-align: center;
  background-color: var(--white);
  box-shadow: 0.0625rem 0.0625rem 0.625rem var(--gray-100);
  position: fixed;
  z-index: 10;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

#close {
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
}

.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0rem;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.1875rem);
}

/* payment responsive */

@media (max-width: 41.25rem) {
  #confirm {
    width: 100%;
  }
  .credit-cards {
    display: none;
  }

  .two-columns {
    align-items: end;
  }
  #thanks-modal {
    width: 90%;
  }
}

/* empty cart */

.empty {
  height: 39.625rem;
  width: 100%;
  background-image: url("../assets/empty1.png"), url("../assets/bubble.png");
  background-repeat: no-repeat, no-repeat;
  background-position: 90%, 10% 10%;
  background-color: var(--gray-50);
  border-radius: 0.5rem;
  margin: 5rem 0;
  box-shadow: 0.0625rem 0.0625rem 0.625rem 0.0625rem var(--gray-200);
}

.empty:hover {
  background-image: url("../assets/empty2.png"), url("../assets/bubble.png");
}

/* empty responsive */

@media (max-width: 72.5rem) {
  .empty {
    background-size: 40%;
    height: 31.25rem;
  }
}

@media (max-width: 41.25rem) {
  .empty {
    height: 18.75rem;
  }
}

/* shop responsive */

@media (max-width: 40rem) {
  .two-items {
    flex-direction: column;
  }
}

/* detail page responsive */

@media (max-width: 56.25rem) {
  .cart-section {
    grid-template-columns: 40% 60%;
  }

  .small-img {
    width: 2.5rem;
    height: 2.5rem;
  }
  .line-price {
    font-size: 1.5rem;
  }
  .line-name {
    font-size: 1.5rem;
  }
  #trash {
    width: 2rem;
    height: 2rem;
    padding: 0.375rem;
  }

  .amount-title {
    font-size: 1.25rem;
  }

  #total-amount {
    font-size: 1.875rem;
  }
}

@media (max-width: 41.25rem) {
  .cart-section {
    grid-template-columns: 1fr;
  }

  aside {
    margin: 0 auto;
  }
  .small-img {
    display: none;
  }
  .amount-line {
    width: 100%;
  }
  #cart-line {
    padding-left: 0;
  }
}
