* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --gray-900: #111928;
  --gray-800: #1f2a37;
  --gray-600: #4b5563;
  --gray-500: #6b7280;
  --gray-400: #9ca3af;
  --gray-300: #d1d5db;
  --gray-200: #e5e7eb;
  --gray-100: #f3f4f6;
  --gray-50: #f9fafb;
  --white: #fff;
  --black: #000;
  --green: hsla(134, 39, 37, 0.3);
  --bg: #fdfeff;
  --red: rgb(238, 46, 46);
}

.wrapper {
  margin-top: 40px;
}

.grid-img {
  border-radius: 8px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  width: 100%;
}

.grid-img:hover {
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.4);
}

.two-items {
  display: flex;
  width: 100%;
  gap: 16px;
}

.product {
  font-size: 20px;
  font-weight: 500;
  color: var(--gray-900);
  cursor: pointer;
}

.product:hover {
  color: var(--gray-400);
}

.number {
  font-size: 12px;
  font-weight: 400;
  color: var(--gray-400);
}

.price {
  font-size: 20px;
  font-weight: 600;
  color: var(--gray-600);
  margin-top: 16px;
  cursor: pointer;
}

.price:hover {
  color: var(--gray-600);
}

.grid-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 80px 0;
}

/* cart */

.cart-section {
  display: grid;
  grid-template-columns: 60% 40%;
  width: 100%;
  gap: 80px;
}

#cart-img {
  border-radius: 8px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
}

.product-name {
  font-size: 36px;
  color: var(--gray-900);
  font-weight: 500;
}

.product-number {
  font-size: 12px;
  color: var(--gray-600);
}

.product-price {
  font-size: 38px;
  font-weight: 700;
  color: var(--gray-700);
  margin: 24px 0;
}

#carret-down {
  border: 1px solid var(--gray-900);
  padding: 16px;
  border-radius: 2px 0 0 2px;
  width: 56px;
  height: 56px;
  cursor: pointer;
}

#carret-up {
  border: 1px solid var(--gray-900);
  padding: 16px;
  border-radius: 0 2px 2px 0;
  width: 56px;
  height: 56px;
  cursor: pointer;
}

#carret-down:hover,
#carret-up:hover {
  background-color: var(--gray-100);
}

.qty {
  font-size: 24px;
  color: var(--gray-900);
  border-top: 1px solid var(--gray-900);
  border-bottom: 1px solid var(--gray-900);
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter {
  display: flex;
  margin-bottom: 24px;
  cursor: pointer;
}

.counter-btn {
  display: flex;
  flex-direction: column;
  padding: 56px 0;
  border-top: 1px solid var(--gray-800);
  border-bottom: 1px solid var(--gray-800);
}

.desc-items {
  color: var(--gray-900);
}

.row {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.description {
  display: flex;
  gap: 24px;
  margin: 16px 0;
}

/* total calc */

.small-img {
  width: 118px;
  height: 118px;
  border-radius: 2px;
  margin-right: 24px;
}

.line-name {
  font-size: 32px;
  color: var(--gray-900);
}

.line-number {
  font-size: 16px;
  color: var(--gray-500);
}

.name-number {
  display: flex;
  flex-direction: column;
  width: 175px;
}

.line-price {
  font-size: 36px;
  font-weight: 600;
  color: var(--gray-800);
  margin-left: 32px;
}

.item-qty {
  font-size: 24px;
  font-weight: 500;
  margin-right: 4px;
}

.trash {
  background-color: var(--gray-900);
  padding: 20px;
  border-radius: 100%;
  width: 72px;
  height: 72px;
  cursor: pointer;
}

.trash:hover {
  background-color: var(--red);
}

.left-items {
  display: flex;
  align-items: center;
}

.cart-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--gray-300);
  padding: 24px 16px;
}

.amount-title {
  font-size: 24px;
  color: var(--gray-800);
  font-weight: 500;
  letter-spacing: 1.6px;
}

#shipping-amount {
  font-size: 24px;
  color: var(--gray-600);
}

#total-amount {
  font-size: 40px;
  font-weight: 700;
  color: var(--gray-900);
}

.amount-line {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-between;
}

.total {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: end;
  margin: 24px 0;
  padding-bottom: 24px;
  border-bottom: 1.5px solid var(--gray-400);
}

.cart {
  background-color: var(--gray-50);
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin: 140px 0;
}

#check-out {
  width: 100%;
}

.shopping {
  color: var(--gray-600);
}
.shopping:hover {
  color: var(--gray-800);
  text-decoration: underline;
}

.continue {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 60px;
}

/* detail page responsive */

@media (max-width: 900px) {
  .cart-section {
    grid-template-columns: 40% 60%;
  }

  .small-img {
    width: 40px;
    height: 40px;
  }
  .line-price {
    font-size: 24px;
  }
  .line-name {
    font-size: 24px;
  }
  .trash {
    width: 32px;
    height: 32px;
    padding: 6px;
  }

  .amount-title {
    font-size: 20px;
  }

  #total-amount {
    font-size: 24px;
  }
}

@media (max-width: 660px) {
  .cart-section {
    grid-template-columns: 1fr;
  }
  .small-img {
    display: none;
  }
  .amount-line {
    width: 100%;
  }
  .cart-line {
    padding-left: 0;
  }
}

/* order summary */

#order-summary {
  margin: 100px 0 -80px 0;
}

.shipping-address {
  font-size: 32px;
  font-weight: 600;
  color: var(--gray-600);
  margin-bottom: 40px;
}

.shipping-form,
.payment-form {
  display: flex;
  flex-direction: column;

  padding: 24px 0;
  width: 100%;
  max-width: 800px;
}

.shipping-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.two-columns {
  display: flex;
  gap: 16px;
}

.shipping-input {
  display: flex;
  border: 1px solid var(--gray-600);
  border-radius: 4px;
  height: 56px;
  width: 100%;
  font-family: "Jost", sans-serif;
  font-size: 20px;
  padding-left: 24px;
  background-color: var(--white);
  margin: 10px 0 24px 0;
}

#proceed {
  width: 100%;
  margin-top: 32px;
}

/* payment method */

.payment-method {
  margin-top: 80px;
}

.secure {
  font-size: 16px;
  font-weight: 300;
  color: var(--gray-600);
  margin-bottom: 56px;
}

.radio {
  width: 16px;
  height: 16px;
  accent-color: var(--gray-500);
  margin-right: 24px;
  cursor: pointer;
}

.payment-title {
  font-size: 24px;
  color: var(--gray-800);
  font-weight: 500;
}

.credit-cards {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-left: 80px;
}

.radio-title {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

#card-number,
#card-name {
  max-width: 556px;
}

#expiration,
#cvv {
  width: 100%;
}

#confirm {
  width: 100%;
  margin: 56px 0 100px 0;
}

/* thank you modal */

.thanks {
  font-family: "Lexend Zetta", sans-serif;
  font-size: 32px;
  color: var(--gray-800);
  font-weight: 600;
  margin: -120px 0 40px 0;
}

#thanks-img {
  width: 100%;
  margin: 40px 0;
}

.message {
  font-size: 16px;
  color: var(--gray-800);
}

.confirmation {
  max-width: 664px;
  border-radius: 10px;
  padding-bottom: 40px;
  text-align: center;
  background-color: var(--white);
  box-shadow: 1px 1px 10px var(--gray-100);
  position: absolute;
  z-index: 10;
  transform: translate(-50%, -50%);
  top: 70%;
  left: 50%;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
}

/* payment responsive */

@media (max-width: 660px) {
  .credit-cards {
    margin-left: 24px;
  }

  .two-columns {
    align-items: end;
  }
}

/* empty cart */

.empty {
  height: 634px;
  width: 100%;
  background-image: url("/assets/empty1.png"), url("/assets/bubble.png");
  background-repeat: no-repeat, no-repeat;
  background-position: 90%, 10% 10%;
  background-color: var(--gray-50);
  border-radius: 8px;
  margin: 80px 0;
  box-shadow: 1px 1px 10px 1px var(--gray-200);
}

.empty:hover {
  background-image: url("/assets/empty2.png"), url("/assets/bubble.png");
}

/* empty responsive */

@media (max-width: 1160px) {
  .empty {
    background-size: 40%;
    height: 500px;
  }
}

@media (max-width: 660px) {
  .empty {
    height: 300px;
  }
}
