@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --gray-900: #111928;
  --gray-800: #1f2a37;
  --gray-600: #4b5563;
  --gray-500: #6b7280;
  --gray-400: #9ca3af;
  --gray-300: #d1d5db;
  --gray-200: #e5e7eb;
  --gray-100: #f3f4f6;
  --gray-50: #f9fafb;
  --white: #fff;
  --black: #000;
  --green: hsla(134, 39, 37, 0.3);
  --bg: #fdfeff;
  --red: rgb(238, 46, 46);
}

body {
  background-color: var(--bg);
  font-size: 16px;
  color: var(--gray-900);
  font-family: "Jost", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--gray-800);
}
a:visited {
  color: var(--gray-800);
}

main {
  margin: 0 auto;
  width: 80%;
  max-width: 1121px;
}

.top-nav {
  display: flex;
  gap: 88px;
  list-style-type: none;
}

ul.top-nav > li {
  color: var(--gray-800);
  cursor: pointer;
}

ul.top-nav > li:hover {
  color: var(--gray-500);
  cursor: pointer;
}

.menu {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 48px;
  width: 100%;
}

.header2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 48px;
  width: 100%;
}

.logo {
  cursor: pointer;
}

.logo:hover {
  background-color: var(--gray-100);
}

.hamburger-drop {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hero {
  background-color: #eef2f7;
  border-radius: 1px;
  outline: 10px solid var(--white);
  margin: 56px 0;
  width: 100%;
  max-width: 1121px;
  height: 569px;
  z-index: -20;
  outline: 1px solid var(--gray-800);
  outline-offset: 10px;
}

.hero-img {
  position: absolute;
  background-image: url("../assets/hero-img.png");
  background-repeat: no-repeat;
  background-position: 97% 40%;
  background-size: 60%;
  z-index: 20;
  width: 1200px;
  max-width: 100%;
  height: 800px;
  padding: 72px 24px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 100%;
}

#reimagine {
  letter-spacing: 2px;
  color: var(--gray-400);
  padding-left: 6px;
}

h1 {
  font-family: "Lexend Zetta", sans-serif;
  font-size: 50px;
  font-weight: 900;
  line-height: 1.3;
  margin-bottom: 48px;
}

.lighter {
  font-weight: 200;
  color: var(--gray-600);
}

.outline-btn {
  background: none;
  font-family: "jost", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-900);
  padding: 10px 16px 10px 24px;
  border: 2.5px solid var(--gray-900);
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  gap: 8px;
}

.outline-btn:hover {
  background-color: var(--white);
}

.mobile-hero {
  display: flex;
  flex-direction: column;
  background-color: #eef2f7;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  padding: 24px;
  gap: 32px;
  outline: 1px solid var(--gray-800);
  outline-offset: 10px;
  z-index: -21;
  margin: 56px 0;
  display: none;
}

h2 {
  font-family: "Lexend Zetta", sans-serif;
  font-size: 48px;
  color: var(--gray-800);
  font-weight: 400;
  margin-bottom: 16px;
}

.caption {
  font-size: 24px;
}

.scroll-img {
  width: 454px;
  height: 454px;
  background-image: url("../assets/eyeglasses-black.png");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 8px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
}

.scroll-img:hover {
  background: linear-gradient(
      0deg,
      rgba(58, 133, 76, 0.1) 0%,
      rgba(58, 133, 76, 0.1) 100%
    ),
    url(../assets/eyeglasses-black.png) lightgray 50% / cover no-repeat;
}

#new2 {
  background-image: url("../assets/eyeglasses-brown-round.png");
}
#new2:hover {
  background: linear-gradient(
      0deg,
      rgba(58, 133, 76, 0.1) 0%,
      rgba(58, 133, 76, 0.1) 100%
    ),
    url(../assets/eyeglasses-brown-round.png) lightgray 50% / cover no-repeat;
}

#new3 {
  background-image: url("../assets/eyeglasses-green-square.png");
}
#new3:hover {
  background: linear-gradient(
      0deg,
      rgba(58, 133, 76, 0.1) 0%,
      rgba(58, 133, 76, 0.1) 100%
    ),
    url(../assets/eyeglasses-green-square.png) lightgray 50% / cover no-repeat;
}

#new4 {
  background-image: url("../assets/eyeglasses-green.png");
}
#new4:hover {
  background: linear-gradient(
      0deg,
      rgba(58, 133, 76, 0.1) 0%,
      rgba(58, 133, 76, 0.1) 100%
    ),
    url(../assets/eyeglasses-green.png) lightgray 50% / cover no-repeat;
}

#new5 {
  background-image: url("../assets/eyeglasses-navy.png");
}
#new5:hover {
  background: linear-gradient(
      0deg,
      rgba(58, 133, 76, 0.1) 0%,
      rgba(58, 133, 76, 0.1) 100%
    ),
    url(../assets/eyeglasses-navy.png) lightgray 50% / cover no-repeat;
}

.scroll-wrapper {
  display: inline-flex;
  gap: 24px;
}

.scroll {
  margin: 40px 0px 88px 0;
  max-width: 100%;
  overflow: scroll;
}

#man-illustration {
  background-image: url("../assets/man-drawing.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 380px;
  height: 200px;
  background-position: 0px 20px;
  border-bottom: 4px solid var(--gray-900);
}

#woman-illustration {
  background-image: url("../assets/woman-drawing.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 380px;
  height: 200px;
  background-position: 0px 20px;
  border-bottom: 4px solid var(--gray-900);
}

.intro-eyeglasses {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#mid1 {
  background-image: url("../assets/mens-eye1.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#mid1:hover {
  background: linear-gradient(
      0deg,
      rgba(58, 133, 76, 0.1) 0%,
      rgba(58, 133, 76, 0.1) 100%
    ),
    url(../assets/mens-eye1.png) lightgray 50% / cover no-repeat;
}

#mid2 {
  background-image: url("../assets/mens-eye2.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#mid2:hover {
  background: linear-gradient(
      0deg,
      rgba(58, 133, 76, 0.1) 0%,
      rgba(58, 133, 76, 0.1) 100%
    ),
    url(../assets/mens-eye2.png) lightgray 50% / cover no-repeat;
}
#mid3 {
  background-image: url("../assets/eyeglasses-brown-square.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#mid3:hover {
  background: linear-gradient(
      0deg,
      rgba(58, 133, 76, 0.1) 0%,
      rgba(58, 133, 76, 0.1) 100%
    ),
    url(../assets/eyeglasses-brown-square.png) lightgray 50% / cover no-repeat;
}

#mid4 {
  background-image: url("../assets/mens-eye3.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#mid4:hover {
  background: linear-gradient(
      0deg,
      rgba(58, 133, 76, 0.1) 0%,
      rgba(58, 133, 76, 0.1) 100%
    ),
    url(../assets/mens-eye3.png) lightgray 50% / cover no-repeat;
}

.four-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 16px;
  margin: 72px 0;
  width: 100%;
  height: 800px;
}

#gray-btn {
  margin: 0 auto 56px auto;
}
#gray-btn:hover {
  background-color: var(--gray-100);
}

#mid5 {
  background-image: url("../assets/eyeglasses-red.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#mid5:hover {
  background: linear-gradient(
      0deg,
      rgba(58, 133, 76, 0.1) 0%,
      rgba(58, 133, 76, 0.1) 100%
    ),
    url(../assets/eyeglasses-red.png) lightgray 50% / cover no-repeat;
}

#mid6 {
  background-image: url("../assets/eyeglasses-brown-round.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#mid6:hover {
  background: linear-gradient(
      0deg,
      rgba(58, 133, 76, 0.1) 0%,
      rgba(58, 133, 76, 0.1) 100%
    ),
    url(../assets/eyeglasses-brown-round.png) lightgray 50% / cover no-repeat;
}

#mid7 {
  background-image: url("../assets/eyeglasses-green-square.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#mid7:hover {
  background: linear-gradient(
      0deg,
      rgba(58, 133, 76, 0.1) 0%,
      rgba(58, 133, 76, 0.1) 100%
    ),
    url(../assets/eyeglasses-green-square.png) lightgray 50% / cover no-repeat;
}

#mid8 {
  background-image: url("../assets/eyeglasses-navy.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#mid8:hover {
  background: linear-gradient(
      0deg,
      rgba(58, 133, 76, 0.1) 0%,
      rgba(58, 133, 76, 0.1) 100%
    ),
    url(../assets/eyeglasses-navy.png) lightgray 50% / cover no-repeat;
}

.date {
  color: var(--gray-800);
  font-size: 20px;
  font-weight: 300;
}

.subject {
  font-weight: 300;
  font-size: 20px;
}

.subject:hover {
  color: var(--gray-500);
}

.date-subject {
  display: flex;
  gap: 32px;
  align-items: center;
}

.news-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0px;
  border-bottom: 1px solid var(--gray-200);
}

.news {
  background-color: var(--gray-50);
  padding: 24px;
}

#read-btn {
  margin: 40px auto;
}

#read-btn:hover {
  background-color: var(--gray-100);
}

.subscribe {
  font-size: 20px;
  color: var(--gray-600);
  font-weight: 300;
  margin-top: 32px;
}

.subscribe-email {
  max-width: 80%;
  color: var(--gray-600);
  padding: 32px 10px;
  border-top: 2px solid var(--gray-900);
  border-left: 2px solid var(--gray-900);
  border-bottom: 4px solid var(--gray-900);
  border-right: none;
  border-radius: 2px 0 0 2px;
  height: 80px;
  cursor: pointer;
}

.input-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  width: 100vw;
}

.email-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.send-icon {
  background-color: var(--gray-100);
  padding: 24px;
  border-top: 2px solid var(--gray-900);
  border-right: 2px solid var(--gray-900);
  border-bottom: 4px solid var(--gray-900);
  height: 80px;
  width: 80px;
  cursor: pointer;
}

.send-icon:hover {
  background-color: var(--gray-200);
}

.newsletter {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -80px;
}

#eyeglasses-drawing {
  opacity: 0.2;
  position: relative;
  z-index: -100;
  transform: translate(-50px, -50px);
  left: 30%;
  top: 200px;
}

#thanks-popup {
  text-align: center;
  background-color: var(--gray-200);
  border-radius: 8px;
  padding: 24px;
  opacity: 0.7;
  margin-bottom: 40px;
  border-bottom: 2px solid var(--gray-400);
  cursor: pointer;
  background-image: url("../assets/eyeglass-drawing1.png");
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: right;
}

footer {
  display: flex;
  background-color: var(--gray-50);
  width: 100%;
  gap: 184px;
  align-items: start;
  justify-content: center;
  padding: 100px 0;
}

.footer-nav {
  color: var(--gray-600);
  display: flex;
  flex-direction: column;
  gap: 32px;
  list-style-type: none;
}

.footer-nav li:hover {
  color: var(--gray-400);
  cursor: pointer;
}

#social {
  display: flex;
  gap: 32px;
  cursor: pointer;
}

/* hamburger menu */

.hamburger {
  color: var(--gray-600);
  font-size: 20px;
  font-weight: 400;
  width: 348px;
  border-radius: 8px;
  background-color: var(--white);
  box-shadow: 1px 2px 10px 4px var(--gray-50);
  padding: 40px 24px;
  cursor: pointer;
  z-index: 100;
  position: absolute;
  top: 80px;
}

.menu-item {
  display: flex;
  gap: 24px;
}

.menu-item:hover {
  color: var(--gray-400);
}

.line {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  cursor: pointer;
}

.hamburger-expanded {
  color: var(--gray-600);
  font-size: 20px;
  font-weight: 400;
  width: 348px;
  border-radius: 8px;
  background-color: var(--white);
  box-shadow: 1px 2px 10px 4px var(--gray-50);
  padding: 40px 24px;
  cursor: pointer;
  z-index: 98;
  position: absolute;
  top: 80px;
}

.menu-item-select {
  display: flex;
  padding: 0 0 16px 48px;
  font-size: 16px;
  font-weight: 300;
  justify-content: space-between;
}

.hidden {
  display: none;
}

/* shop select menu*/

.select-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--gray-600);
  cursor: pointer;
}

.select-item:hover {
  color: var(--gray-400);
}

.shop-select {
  width: 127px;
  border-radius: 0 0 4px 4px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 32px;
  box-shadow: 1px 2px 10px 4px var(--gray-100);
  padding: 24px;
  margin-top: 32px;
  z-index: 100;
  position: absolute;
}

.shop-drop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* contact form */

form {
  background-color: var(--gray-50);
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 24px;
  box-shadow: 1px 2px 10px 10px var(--gray-100);
  border: 1px solid var(--gray-200);
  border-radius: 8px;
  max-width: 600px;
  margin: 0 auto;
}

label {
  font-size: 24px;
  font-weight: 400;
  color: var(--gray-600);
}

.required {
  color: var(--red);
  font-size: 18px;
  margin-left: 4px;
}

input {
  border: 1px solid var(--gray-600);
  border-radius: 4px;
  height: 56px;
  width: 556px;
  font-family: "Jost", sans-serif;
  font-size: 20px;
  padding-left: 24px;
  background-color: var(--white);
  display: block;
  margin: 10px 0;
  color: var(--gray-600);
}

input:focus {
  outline: none;
}

::placeholder {
  color: var(--gray-400);
  font-weight: 300;
}

small {
  color: var(--red);
  font-size: 14px;
  display: block;
  margin-bottom: 24px;
}

textarea {
  width: 556px;
  height: 269px;
  border: 1px solid var(--gray-600);
  border-radius: 4px;
  font-family: "Jost", sans-serif;
  font-size: 20px;
  padding: 24px 24px;
  background-color: var(--white);
  display: block;
  margin: 10px 0;
}

textarea:focus {
  outline: none;
}

.filled-btn {
  background-color: var(--black);
  color: white;
  font-family: "Jost", sans-serif;
  font-size: 24px;
  font-weight: 500;
  width: 295px;
  height: 88px;
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 16px auto;
  cursor: pointer;
}

.filled-btn:hover {
  background-color: var(--gray-800);
}

/* responsive */

@media (max-width: 1200px) {
  main {
    width: 80%;
  }
  .hero-img {
    background-size: 40%;
    background-position: 63% 40%;
  }
}

@media (max-width: 1000px) {
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 32px;
  }

  .hero-img {
    background-position: 67% 40%;
    background-size: 40%;
  }
}
@media (max-width: 900px) {
  .hero-img {
    background-size: 35%;
  }
}

@media (max-width: 800px) {
  main {
    width: 90vw;
  }
  h1 {
    font-size: 34px;
  }
  .hero {
    display: none;
  }

  .hero-img {
    display: none;
  }

  .mobile-hero {
    display: flex;
    width: 100%;
  }

  header {
    width: 90vw;
  }

  ul.top-nav {
    display: none;
  }

  .scroll-img {
    width: 90vw;
    height: 90vw;
  }

  #man-illustration {
    width: 40%;
    height: 100px;
  }

  #woman-illustration {
    width: 40%;
    height: 120px;
  }

  .four-img {
    grid-template-columns: 1fr;
    gap: 16px;
    margin: 72px 0;
    width: 90vw;
    overflow-y: hidden;
  }

  #eyeglasses-drawing {
    max-width: 50%;
  }

  .subscribe-btn {
    max-width: 100%;
  }

  .footer-nav li {
    display: none;
  }

  footer {
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
  }
  .subscribe-email {
    max-width: 80%;
  }
}

@media (max-width: 500px) {
  main {
    width: 96%;
  }
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 22px;
  }
  .input-icon {
    max-width: 100%;
  }
}
